RewriteEngine On
RewriteBase /

RewriteRule ^user(/?)$ /packager/index.php?ns=user
RewriteRule ^user/loginfrm(/?)$ /packager/index.php?ns=user&action=loginfrm
RewriteRule ^user/login(/?)$ /packager/index.php?ns=user&action=login
RewriteRule ^user/logout(/?)$ /packager/index.php?ns=user&action=logout
RewriteRule ^ulfs(/?)$ /packager/index.php?ns=ulfs
RewriteRule ^ulfs/release/([0-9.]+)(/?)$ /packager/index.php?ns=ulfs&action=release&release=$1
RewriteRule ^ulfs/release/([0-9.]+)/packages(/?)$ /packager/index.php?ns=ulfs&action=packages&release=$1
RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)(/?)$ /packager/index.php?ns=ulfs&action=packageinfo&release=$1&package=$2
RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/edit(/?)$ /packager/index.php?ns=ulfs&action=packageedit&release=$1&package=$2
RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/adddependances(/?)$ /packager/index.php?ns=ulfs&action=adddependancesfrm&release=$1&package=$2
RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/editdependances(/?)$ /packager/index.php?ns=ulfs&action=editdependancesfrm&release=$1&package=$2

RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/addpatch(/?)$ /packager/index.php?ns=ulfs&action=addpatchfrm&release=$1&package=$2
RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/editpatches(/?)$ /packager/index.php?ns=ulfs&action=editpatchesfrm&release=$1&package=$2
RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/patch/([a-zA-z0-9.-]+)(/?)$ /packager/index.php?ns=ulfs&action=editpatchfrm&release=$1&package=$2&patch=$3

RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/addaddon(/?)$ /packager/index.php?ns=ulfs&action=addaddonfrm&release=$1&package=$2
RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/editaddons(/?)$ /packager/index.php?ns=ulfs&action=editaddonsfrm&release=$1&package=$2
RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/addon/([a-zA-z0-9.-]+)(/?)$ /packager/index.php?ns=ulfs&action=editaddonfrm&release=$1&package=$2&addon=$3

RewriteRule ^ulfs/release/([0-9.]+)/package/([a-zA-z0-9.-]+)/dependance/([a-zA-z0-9.-]+)(/?)$ /packager/index.php?ns=ulfs&action=editdependancefrm&release=$1&package=$2&dependance=$3
RewriteRule ^ulfs/release/([0-9.]+)/newpackage(/?)$ /packager/index.php?ns=ulfs&action=newpackagefrm&release=$1

RewriteRule ^ulfs/release/([0-9.]+)/patches(/?)$ /packager/index.php?ns=ulfs&action=patches&release=$1
RewriteRule ^ulfs/release/([0-9.]+)/addons(/?)$ /packager/index.php?ns=ulfs&action=addons&release=$1



RewriteRule ^([0-9.]+)(/?)$ /linux/packages/index.php?release=$1
RewriteRule ^xml(/?)$ /linux/packages/index.php?format=xml
RewriteRule ^json(/?)$ /linux/packages/index.php?format=json
RewriteRule ^text(/?)$ /linux/packages/index.php?format=text
RewriteRule ^depmap/([0-9.]+)(/?)$ /linux/packages/depmap.php?release=$1
RewriteRule ^xml/([0-9.]+)(/?)$ /linux/packages/index.php?release=$1&format=xml
RewriteRule ^json/([0-9.]+)(/?)$ /linux/packages/index.php?release=$1&format=json
RewriteRule ^text/([0-9.]+)(/?)$ /linux/packages/index.php?release=$1&format=text
RewriteRule ^descriptions/([0-9.]+)(/?)$ /linux/packages/index.php?release=$1&format=descriptions
RewriteRule ^([0-9.]+)/([a-zA-z0-9.-]+)(/?)$ /linux/packages/package.php?release=$1&package=$2
RewriteRule ^([0-9.]+)/([a-zA-z0-9.-]+)/install(/?)$ /linux/packages/packageinstall.php?release=$1&package=$2
RewriteRule ^([0-9.]+)/([a-zA-z0-9.-]+)/localinstall(/?)$ /linux/packages/packageinstall.php?release=$1&package=$2&type=local

RewriteRule ^install/([0-9.]+)/([a-zA-z0-9.-]+)(/?)$ /linux/packages/packageinstall.php?release=$1&package=$2
RewriteRule ^xml/([0-9.]+)/([a-zA-z0-9.-]+)(/?)$ /linux/packages/packageexport.php?release=$1&package=$2&format=xml
RewriteRule ^json/([0-9.]+)/([a-zA-z0-9.-]+)(/?)$ /linux/packages/packageexport.php?release=$1&package=$2&format=json

RewriteRule ^([0-9a-z.]+).html$ /linux/packages/html.php?page=$1
